.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 7%; */
  background: rgba(10, 10, 20, 0.6);
  backdrop-filter: blur(14px);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;

}

.logo img {
  padding: 0px 35%;
  height: 105px;      /* adjust this until it fits nicely */
  width: auto;
  display: block;
  object-fit: contain;
   transform: translateY(20px); /* adjust this to vertically center the logo */
}

nav {
  padding: 0px 7%;

  display: flex;
  gap: 18px;
  align-items: center;
}

nav a {
  color: #ddd;
  text-decoration: none;
}

.btn {
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 0.9rem;
}

.ghost {
  border: 1px solid #6d40b8;
}

.solid {
  background: linear-gradient(135deg, #8f44ff, #5b2cff);
  color: white !important;
}
